{include file="public/header" /}

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
			<div id="page-inner">
					<div class="row">
						<div class="col-md-12">
							   <h1 class="page-head-line">个人博客后台</h1>
						</div>
					</div>
																				<!-- /. ROW  -->
					<div class="row">
							<div class="col-md-12">
								     <div >
											<div class="row pad-top-botm ">
													<div class="col-lg-6 col-md-6 col-sm-6">
																			
																			   <strong>本公司信息</strong>
																			  <br />
																				  <i>地址 :</i> 
																			  <br />
																				 中国 广东省 肇庆市
																			  <br />
																			  端州区肇庆学院五区607

																				  
																			  
													</div>
											</div>
											<div  class="row text-left contact-info">
																		 <div class="col-lg-12 col-md-12 col-sm-12">
																			 <hr />
																			 <span>
																				 <strong>公司QQ : </strong>  1083988776
																			 </span>
																			 <span>
																				 <strong>公司电话 : </strong>  17876253554
																			 </span>
																			  <span>
																				 <strong>公司微信 : </strong>  15767495693
																			 </span>
																			 <hr />
																		 </div>
										   </div>
									 </div>
									 <div class="row pad-top-botm ">
													<div class="col-lg-6 col-md-6 col-sm-6">
																			
																			   <strong style="background-color:yellow">温馨提示：</strong>
																			  <br />
																				  <i>注意！注意！注意！</i> 
																			  <br />
																				 作为一名中国公民，我们每个人都应该遵守中国的法律法规。
																			  <br />
																			  
																			  每个使用本系统的用户，都要为自己的言行举止负责，本系统只提供技术服务

																				  
																			  
													</div>
											</div>
						   </div>
					</div>
		       </div>
								<!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
   {include file="public/footer" /}