{include file="public/header" /}	
<style>
		.clear::after{
			content: "";
			visibility: hidden;
			display: block;
			height: 0;
			clear: both;
		}
		.page .pagination li{
			float:left;
			margin:20px;
		}
		video{
			float: left;
			margin-right: 5px
		}
		.video_desc{
			display: inline-block;
			vertical-align: top;
			width:490px;
		}
		.sy{
			height: 200px
		}
</style>
    <!--content start-->
    <div id="say">
     <div class="weizi">
           <div class="wz_text">当前位置：<a href="./">首页</a>><h1>{$side_title}</h1></div>
     </div>
			<div class="content_text">

			
		   </div>
		<div class="content_text">

		   {notempty name="rs"}
			   {volist name="rs" id="vo"}
			   <ul class="say_box">
			   	<div class="sy">
			   		<video width="240" height="180" controls="controls">
					    <source src="{$vo.url}" type="video/ogg">
					    <source src="{$vo.url}" type="video/mp4">
						不支持该浏览器播放！！！
					</video>
					<div class="video_desc">
						<p><b>视频名称：{$vo.name}</b></p>
						<div>
							<b>视频描述：</b>
							<p>{$vo.description}</p>
						</div>
					</div>
				</div>
			   	<span class="dateview">{$vo.create_time}</span>
			   	</ul>
				{/volist}
			{else/}
			<ul class="say_box">
			   	<div class="sy">
<p style="text-align:center"><b>还没有上传任何视频</b></p>
			   	</div>
			   	<span class="dateview"></span>
			   	</ul>
			
			{/notempty}

		</div>



		   <div class='page'>
			{$page}
		   </div>
     </div>
	 <script>
		

	 </script>
    <!--content end-->
    {include file="public/footer" /}